@using OnlineShop.Database.EF;
@model  List<OnlineShop.Database.EF.sanpham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_LayOut.cshtml";
    var lsp = (OnlineShop.Database.EF.loaisanpham)ViewBag.lsp;
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @{ Html.RenderAction("left_sidebar", "DanhMuc");}
            </div>

            <div class="col-sm-9 padding-right">
                @*@{ Html.RenderAction("SP", "SanPham", new { loaisanphamma= lsp.ma });}*@
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">@lsp.ten</h2>


                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="@Url.Action("ChiTietSanPham", "SanPham", new { ma = item.ma }, null)">
                                            <img src="~/Areas/Admin/Content/Photo/@item.anh" alt="" width="255" height="237" />
                                        </a>
                                        <h2>$@item.gia</h2>
                                        <p>@item.ten</p>
                                        <a href="NguoiDung/ShoppingCart/Add/@item.ma" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                    </div>

                                </div>

                            </div>
                        </div>
                    }
                </div>


            </div>
        </div>
    </div>
</section>


